<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit <%= crystal.name %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Edit <%= crystal.name %></h1>
    <form action="/crystals/<%= crystal._id %>?_method=PUT" method="post">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" value="<%= crystal.name %>" />

      <label for="colour">Colour:</label>
      <input
        type="text"
        name="colour"
        id="colour"
        value="<%= crystal.colour %>"
      />
      <label for="description">Description:</label>
      <textarea type="text" name="description" id="description">
<%= crystal.description %></textarea
      >
      <button type="submit">Change <%= crystal.name %></button>
      <br />
      <a href="/crystals">Browse Crystals</a>
    </form>
  </body>
</html>
